body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125rem; /* 116.667% */
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
}
